.evolution-graph {
  font-family: "Roboto", Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.evolution-graph * {
  box-sizing: border-box;
}

.evolution-graph__title {
  margin-bottom: 24px;
  text-align: center;
}

.evolution-graph__bars-container {
  position: relative;
}

.evolution-graph__bar {
  position: absolute;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
}

.evolution-graph__bar__label {
  display: flex;
  align-items: center;
}

.evolution-graph__bar__track {
  flex: 1;
  position: relative;
  display: flex;
  align-items: center;
}

.evolution-graph__bar__track__fill {
  position: relative;
}
.evolution-graph__bar__data {
  position: absolute;
  display: flex;
  align-items: center;
  top: 50%;
  transform: translate(calc(100% + 6px), -50%);
  right: 0;
}

.evolution-graph__bar__track__value {
  white-space: nowrap;
  padding-left: 4px;
}

.evolution-graph__bar__image-wrapper {
  flex-direction: column;
  display: flex;
}

.evolution-graph__timeline {
  width: 100%;
  margin-top: 24px;
  height: 14px;
  position: relative;
  margin-bottom: 90px;
}

.evolution-graph__timeline__track {
  display: flex;
  justify-content: space-between;
}

.evolution-graph__timeline__track__fill {
  position: absolute;
  left: 0;
}

.evolution-graph__timeline__track__marker {
  border-radius: 50%;
  transform: translateY(calc(-50% + 2px));
  transition: all 250ms ease-in-out;
  cursor: pointer;
  position: relative;
}

.evolution-graph__timeline__track__marker:hover {
  background-color: #aaa !important;
}

.evolution-graph__timeline__track__marker__label {
  position: absolute;
  transform-origin: left;
  font-size: 12px;
}
